aiosqlite<0.22 # https://github.com/sqlalchemy/sqlalchemy/issues/13039
alembic[tz]
fastapi
honkypy @ https://github.com/DarkEnergyProcessor/honky-py/releases/download/0.2.0/honkypy-0.2.0-py3-none-any.whl
httpx
itsdangerous
jinja2
pycryptodomex
pydantic>=2
pydantic-settings
python-multipart
sqlalchemy[asyncio]>=2

# uvicorn requires special case:
# We need the [standard] variant but without uvloop in Android.
uvicorn[standard]; sys_platform != 'android'
uvicorn; sys_platform == 'android'
# These are uvicorn[standard] dependency, minus uvloop
httptools>=0.6.3; sys_platform == 'android'
python-dotenv>=0.13; sys_platform == 'android'
PyYAML>=5.1; sys_platform == 'android'
watchfiles>=0.13; sys_platform == 'android'
websockets>=10.4; sys_platform == 'android'
