aiosqlite
alembic[tz]
fastapi
honkypy @ https://github.com/DarkEnergyProcessor/honky-py/releases/download/0.2.0/honkypy-0.2.0-py3-none-any.whl
httpx
itsdangerous
jinja2
pycryptodomex
pydantic>=2
pydantic-settings
python-multipart
sqlalchemy[asyncio]
uvicorn[standard]
