<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}
	</style>
</head>

<body>
	<h1>Secretbox #{{ secretbox_id }} - ({{ secretbox_name }})</h1>
	<section>
		<h2>Rates</h2>
		<table>
			<thead>
				<tr>
					<th>Rarity</th>
					<th>Weight</th>
					<th>Percentage</th>
				</tr>
			</thead>
			<tbody>
				{% for i in rates %}
				<tr>
					<td>{{ i[0] }}</td>
					<td>{{ i[1] }}</td>
					<td>{{ "%.2f" % (i[2] * 100) }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<ul>
		</ul>
	</section>
</body>

</html>
