<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
	</style>
	<script>
		function main() {
			const serialCodeInput = document.getElementById("serial_code")
			const submitButtom = document.getElementById("submit")
			const resultButton = document.getElementById("result")
			const token = document.getElementById("token").value
			const lang = document.getElementById("language").value
			let inProgress = false

			submitButtom.addEventListener("click", async () => {
				const key = serialCodeInput.value
				if (inProgress || key.length == 0) {
					return
				}

				inProgress = true
				resultButton.textContent = "Entering..."
				resultButton.style.color = "yellow"

				try {
					const ts = Math.floor(new Date() / 1000)

					const response = await fetch("", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
							"Authorize": `consumerKey=lovelive_test&timestamp=${ts}&version=1.1&nonce=WV0&token=${token}`,
							"LANG": lang,
						},
						body: JSON.stringify({
							key: key,
						})
					})
					if (response.status != 200) {
						throw await response.text()
					}
					const result = await response.json()
					resultButton.textContent = result.msg
					resultButton.style.color = result.ok ? "green" : "red"

					if (result.ok) {
						serialCodeInput.value = ""
					}
				} catch (e) {
					console.error(e)
					resultButton.textContent = e.toString()
					resultButton.style.color = "red"
				}

				inProgress = false
			})
		}

		if (document.readyState !== "loading") {
			main()
		} else {
			document.addEventListener("DOMContentLoaded", main)
		}
	</script>
</head>

<body style="padding:1rem;text-align:center">
	<h3>Input Serial Code</h3>
	<input id="token" type="hidden" value="{{token}}">
	<input id="language" type="hidden" value="{{lang}}">
	<input id="serial_code" type="text" style="width:100%;text-align:center">
	<button id="submit" style="width:100%;margin-top:0.25rem">Enter</button>
	<p id="result" style="white-space:pre-line"></p>
</body>

</html>
