name: Build
on: [push, pull_request]

jobs:
  syntax-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.13', '3.14']
    steps:
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Virtual Environment
        run: python -m venv venv
      - name: Install requirements and Black
        run: venv/bin/pip install -r requirements.txt black
      - name: Install PyRight
        run: npm install -g pyright@">1.1.376||<1.1.376"
      - name: Check Black Formatter
        run: venv/bin/black -l 120 --check .
      - name: Check PyRight Syntax
        run: |
          set -e
          source venv/bin/activate
          npx pyright

  artifact-docker:
    runs-on: ${{ matrix.runs-on }}
    needs: syntax-check
    strategy:
      matrix:
        runs-on: [ubuntu-24.04, ubuntu-24.04-arm]
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build Docker Images
      run: docker build -t npps4 .
    - name: Export Docker Images
      run: docker save npps4 | gzip > npps4.tar.gz
    - name: Artifact
      uses: actions/upload-artifact@v6
      with:
        name: npps4-docker-${{ runner.arch }}
        path: npps4.tar.gz
        if-no-files-found: error

  pyinstaller-windows:
    runs-on: windows-latest
    needs: syntax-check
    defaults:
      run:
        shell: cmd
    steps:
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Virtual Environment
      run: python -m venv venv
    - name: Install Dependencies
      run: venv\Scripts\pip install -r requirements.txt -r requirements-perf.txt psycopg[binary] pyinstaller
    - name: Make Bundle
      run: venv\Scripts\pyinstaller npps4.spec
    - name: Copy Runtime Files
      run: |
        robocopy "beatmaps" "dist\npps4\beatmaps" /E
        if errorlevel 8 exit /b 1
        robocopy "external" "dist\npps4\external" /E
        if errorlevel 8 exit /b 1
        robocopy "scripts" "dist\npps4\scripts" /E
        if errorlevel 8 exit /b 1
        robocopy "static" "dist\npps4\static" /E
        if errorlevel 8 exit /b 1
        robocopy "templates" "dist\npps4\templates" /E
        if errorlevel 8 exit /b 1
        copy npps4\server_data.json dist\npps4\server_data.json
        if errorlevel 1 exit /b 1
        copy default_server_key.pem dist\npps4\server_key.pem
        if errorlevel 1 exit /b 1
    - name: Generate config.toml
      env:
        NPPS4_CONFIG_DOWNLOAD_N4DLAPI_SERVER: ${{ secrets.NPPS4_CONFIG_DOWNLOAD_N4DLAPI_SERVER }}
      shell: python
      run: |
        import os

        with open("config.sample.toml", "r", encoding="utf-8", newline="") as f:
            config = f.read()

        config = config.replace(
            'server_private_key = "default_server_key.pem"', 'server_private_key = "server_key.pem"'
        ).replace('server_data = "npps4/server_data.json"', 'server_data = "server_data.json"')

        dlapi_server = os.environ.get("NPPS4_CONFIG_DOWNLOAD_N4DLAPI_SERVER", "")
        if dlapi_server:
            config = config.replace('backend = "none"', 'backend = "n4dlapi"').replace(
                'server = "https://localhost:8000"', f'server = "{dlapi_server}"'
            )

        with open("dist/npps4/config.toml", "w", encoding="utf-8", newline="") as f:
            f.write(config)
    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: pyinstaller-npps4-windows
        path: dist
        if-no-files-found: error
  pyinstaller-linux:
    strategy:
      matrix:
        runs-on: [ubuntu-22.04, ubuntu-22.04-arm]
      fail-fast: false
    runs-on: ${{ matrix.runs-on }}
    needs: syntax-check
    steps:
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Virtual Environment
      run: python -m venv venv
    - name: Install Dependencies
      run: venv/bin/pip install -r requirements.txt -r requirements-perf.txt psycopg[binary] pyinstaller
    - name: Make Bundle
      run: venv/bin/pyinstaller npps4.spec
    - name: Copy Runtime Files
      run: |
        set -e

        cp -r beatmaps dist/npps4/
        cp -r external dist/npps4/
        cp -r scripts dist/npps4/
        cp -r static dist/npps4/
        cp -r templates dist/npps4/
        cp npps4/server_data.json dist/npps4/server_data.json
        cp default_server_key.pem dist/npps4/server_key.pem
    - name: Generate config.toml
      env:
        NPPS4_CONFIG_DOWNLOAD_N4DLAPI_SERVER: ${{ secrets.NPPS4_CONFIG_DOWNLOAD_N4DLAPI_SERVER }}
      shell: python
      run: |
        import os

        with open("config.sample.toml", "r", encoding="utf-8", newline="") as f:
            config = f.read()

        config = config.replace(
            'server_private_key = "default_server_key.pem"', 'server_private_key = "server_key.pem"'
        ).replace('server_data = "npps4/server_data.json"', 'server_data = "server_data.json"')

        dlapi_server = os.environ.get("NPPS4_CONFIG_DOWNLOAD_N4DLAPI_SERVER", "")
        if dlapi_server:
            config = config.replace('backend = "none"', 'backend = "n4dlapi"').replace(
                'server = "https://localhost:8000"', f'server = "{dlapi_server}"'
            )

        with open("dist/npps4/config.toml", "w", encoding="utf-8", newline="") as f:
            f.write(config)
    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: pyinstaller-npps4-${{ matrix.runs-on }}
        path: dist
        if-no-files-found: error

  upload-release:
    runs-on: ubuntu-latest
    needs: [pyinstaller-windows, pyinstaller-linux, artifact-docker]
    if: ${{ (github.event_name == 'push' && github.ref_name == 'master') }}
    steps:
    - name: Install Zip
      run: sudo apt-get install --assume-yes zip curl libfuse2
    - name: Download pyuploadtool
      run: curl -LO https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage && chmod +x pyuploadtool-x86_64.AppImage
    - name: Download Artifacts
      uses: actions/download-artifact@v6
    - name: List All Files
      run: ls -alFR
    - name: Zip Files
      run: |
        set -e
        (cd pyinstaller-npps4-windows && zip -r9 ../pyinstaller-npps4-windows.zip .)
        (cd pyinstaller-npps4-ubuntu-22.04 && zip -r9 ../pyinstaller-npps4-ubuntu-22.04.zip .)
        (cd pyinstaller-npps4-ubuntu-22.04-arm && zip -r9 ../pyinstaller-npps4-ubuntu-22.04-arm.zip .)
        mv npps4-docker-X64/npps4.tar.gz npps4-dockerimage-x86-64.tar.gz
        mv npps4-docker-ARM64/npps4.tar.gz npps4-dockerimage-aarch64.tar.gz
    - name: Upload to Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_CONTINUOUS_RELEASE_TYPE: prerelease
        GITHUB_CONTINUOUS_RELEASE_NAME: Continuous Build
        GITHUB_CONTINUOUS_RELEASE_TAG: continuous
      run: ./pyuploadtool-x86_64.AppImage pyinstaller-npps4-*.zip npps4-dockerimage-*.tar.gz
