name: Syntax Check
on: [push, pull_request]

jobs:
  syntax-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12', '3.13']
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Virtual Environment
        run: python -m venv venv
      - name: Install requirements and Black
        run: venv/bin/pip install -r requirements.txt black
      - name: Install PyRight
        run: npm install -g pyright@">1.1.376||<1.1.376"
      - name: Check Black Formatter
        run: venv/bin/black -l 120 --check .
      - name: Check PyRight Syntax
        run: |
          set -e
          source venv/bin/activate
          npx pyright
  artifact-docker:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on: [ubuntu-24.04, ubuntu-24.04-arm]
      fail-fast: false
    needs: syntax-check
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Docker Images
        run: docker build -t npps4 .
      - name: Export Docker Images
        run: docker save npps4 | gzip > npps4.tar.gz
      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: npps4-docker-${{ runner.arch }}
          path: npps4.tar.gz
          if-no-files-found: error
